#layer-box {
    width: 100%;
    height: 90px;
    white-space: nowrap;
    overflow-x: auto;
}

#selectButton {
    width: 90px;
    height: 45px;
    white-space: nowrap;
    overflow-x: auto;
}

.link:hover {
    stroke-opacity: .5;
}

body {
    font-family: 'Raleway', sans-serif;
}

.section{
    text-align:center;
    padding-left:4%;
    padding-right:4%;
    padding-bottom: 3%;
}

#section1{
    height: 50px;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color:#a6dbca;
    opacity: 60%;
    color: black;
    text-align: center;
}

#section2{
    height: 100%;
    padding-top:5vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color:#a6dbca;
    opacity: 60%;
    color: black;
    text-align: center;
}

#section3{
    height: 100%;
    padding-top:5vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color:#9cc9e5;
    opacity: 60%;
    color: black;
    text-align: center;
}
#section4{
    height: 100%;
    padding-top:5vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color:#bfb9dd;
    opacity: 60%;
    color: black;
    text-align: center;
}

#section5{
    height: 100%;
    padding-top:5vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color:#E6F598;
    opacity: 60%;
    color: black;
    text-align: center;
}

#section6{
    height: 100%;
    padding-top:5vh;
    padding-bottom: 5vh;
    padding-right: 20vh;
    padding-left: 20vh;
    background-color:peachpuff;
    opacity: 60%;
    color: black;
    text-align: center;
}
